.middleview__ {
  &titlee {
    color: $secondary;
    margin-top: 4rem;
    margin: 0;
    margin-left: 10%;
    margin-bottom: 2rem;
    width: 100%;
  }
  &projectContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media (max-width: 425px) {
  .middleview__ {
    &titlee {
      width: 90%;
      margin-left: 0%;
    }
  }
}
