.topview__ {
  &background {
    box-shadow: inset 0px 58px 100px rgba(0, 0, 0, 0.25),
      inset 0px -58px 100px rgba(0, 0, 0, 0.25);
  }
  &container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &me {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img {
      border-radius: 50%;
    }
    h1 {
      color: $white;
    }
    p {
      text-align: center;
      color: $secondary;
    }
  }
  &description {
    margin-top: 4rem;
    text-align: center;
    width: 70%;
    color: $white;
  }
  &techStack {
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: $secondary;
  }
  &techStackContainer {
    width: 80%;
    div {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 425px) {
  .topview__ {
    &me {
      flex-direction: column;
      img {
        width: 200px;
      }
    }
    &description {
      margin-top: 1rem;
    }
    &techs {
      width: 30px;
      height: 30px;
    }
  }
}
