* {
  font-family: 'RobotoSlab';
  margin: 0px;
}

html,
body {
  background-color: $primary;
  height: 100%;
  width: 100%;
  // overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000000;
}

.pointer {
  cursor: pointer;
}

.mt-1 {
  margin-top: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column;
}

.responsiveshow {
  display: none !important;
}

@media (max-width: 425px) {
  .responsiveshow {
    display: flex !important;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: $secondary;
  border-radius: 10px;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}
