@font-face {
  font-family: 'Roboto';
  src: url('../../src/assets/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('../../src/assets/RobotoSlab-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@mixin themable($theme-name, $fsize, $lheight) {
  .#{$theme-name} {
    font-size: $fsize;
    line-height: $lheight;
    text-align: center;
  }
}

@include themable(title, 3rem, 4rem);
@include themable(subtitle, 2.188rem, 2.885rem);
@include themable(bodyText, 1.5rem, 1.978rem);
@include themable(link, 1.25rem, 1.5rem);
@include themable(smallbodyText, 1.25rem, 1.5rem);

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .bodyText {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
